---
import Base from "../layouts/Base.astro";
---

<Base
  pageTitle="OrcheWeb"
  pageDescription="A unique fixed monthly subscription service to cover all your web development needs. No hidden fees. Cancel anytime."
>
  <h1>Hello World</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem!
  </p>
</Base>
