---
import "../app.css";

import Head from "../components/Head.astro";

export interface Props {
    pageTitle: string;
    pageDescription: string;
}

const { pageTitle, pageDescription } = Astro.props;
---

<html lang="en">
    <Head pageTitle={pageTitle} pageDescription={pageDescription} />

    <header class="py-8 bg-jungle-green text-light-cyan">
        <div class="flex justify-between main-container">
            <a href="/" class="text-2xl font-bold hover:underline">OrcheWeb</a>

            <nav class="flex gap-8">
                <a href="/about" class="text-xl font-bold hover:underline"
                    >About</a
                >
                <a
                    href="mailto:justin@orcheweb.com"
                    class="text-xl font-bold hover:underline">Contact</a
                >
            </nav>
        </div>
    </header>

    <body class="text-gray-800 font-work-sans">
        <slot />
    </body>

    <footer class="py-24 bg-jungle-green text-light-cyan">
        <div class="main-container">
            <a href="/" class="text-3xl font-bold">OrcheWeb</a>
            <p class="opacity-75 lg:w-5/12">
                A unique fixed monthly subscription service to cover all your
                web development needs.
            </p>
        </div>

        <div class="pt-8 space-y-2 main-container">
            <p class="text-2xl font-bold">Useful links</p>
            <nav class="flex flex-col">
                <a href="/stacks">Our tech stack</a>
                <a href="/privacy">Privacy Policy</a>
            </nav>
        </div>

        <div class="pt-8 space-y-2 main-container">
            <p class="text-base">
                Built with 🤍 by <a
                    href="https://segbedji.com"
                    class="font-bold hover:underline">Justin Ahinon</a
                >
            </p>

            <nav class="flex gap-8">
                <a href="mailto:justin@orcheweb.com">Email</a>
                <a href="https://twitter.com/iamsegbedji" target="_blank"
                    >Twitter</a
                >
                <a
                    href="https://www.linkedin.com/in/justinahinon"
                    target="_blank">LinkedIn</a
                >
            </nav>
        </div>
    </footer>
</html>


<style>
    footer a {
        @apply font-bold hover:underline opacity-75;

    }
</style>