---
import "../app.css";
---

<html lang="en">
    <head>
        <!-- Global Metadata -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link
            rel="icon"
            type="image/x-icon"
            href="/favicon.ico"
        />

        <!-- Base Metadata -->
        <title>OrcheWeb - Unlimited Custom Web Development</title>
        <meta
            name="description"
            content="A unique fixed monthly subscription service to cover all your web development needs. No hidden fees. Cancel anytime."
        />
        <link rel="canonical" href="https://www.orcheweb.com/" />

        <!-- OG Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://www.orcheweb.com/" />
        <meta property="og:title" content="OrcheWeb" />
        <meta
            property="og:description"
            content="A unique fixed monthly subscription service to cover all your web development needs. No hidden fees. Cancel anytime."
        />
        <meta
            property="og:image"
            content="https://res.cloudinary.com/orcheweb/image/upload/v1661458534/orcheweb/orcheweb-og-image_ijhxub.png"
        />

        <!-- OG Twitter -->
        <meta property="twitter:card" content="summary_large_image" /><meta
            property="twitter:url"
            content="https://www.orcheweb.com/"
        />
        <meta property="twitter:title" content="OrcheWeb" /><meta
            property="twitter:description"
            content="A unique fixed monthly subscription service to cover all your web development needs. No hidden fees. Cancel anytime."
        />
        <meta
            property="twitter:imagee"
            content="https://res.cloudinary.com/orcheweb/image/upload/v1661458534/orcheweb/orcheweb-og-image_ijhxub.png"
        />

        <!-- Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link
            rel="preconnect"
            href="https://fonts.gstatic.com"
            crossorigin=""
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap"
        />

        <!-- Splitbee Analytics -->
        <script data-respect-dnt async src="https://cdn.splitbee.io/sb.js"
        ></script>
    </head>
    <body class="text-gray-800 font-work-sans">
        <slot />
    </body>
</html>
